1. Maximal Margin Classifier : Separable data
2. Support Vector Classifier : Non-Separable data
3. Support Vector Machines : Non Linear Class Boundaries

Hyperplane: something which divides a p-dimensional space into 2 parts
- hyperplane of p-1 dimension separates a p dimensional space
- Steps to Choose Hyperplane:
1. Calculate the perpendicular distance of observations from hyperplane
2. Minimum value of distance is called margin
3. Choose the hyperplane with maximum value of margin

- Support Vectors:
1. The observations which fall on margin are known as Support Vectors
2. These classifiers depend on support vectors only, which makes the technique different from conventional ML techniques

Limitations of Maximal Margin Classifier:
1. Can not be used if the two classes are non-separable
2. Maximal margin classifier is very sensitive to support vectors, an additional observation can lead to a dramatic shift in maximal margin hyperplane

Limitations of Support Vector Classifier:
1. It's a Linear Classifier, can not classify non linear separable data

Support Vector Machines:
- Its an extension of Support Vector Classifier which uses Kernel to create Non linear boundaries

Kernels : Some functional relationship between two observations.
- Linear, Polynomial, Radial

Regression and Classification Models with SVM

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data_path = r'D:\MyStudy\ML_DL_Udemy\Machine Learning & Deep Learning in Python & R\Data Files\3. ST Academy - Decision Trees resource files/Movie_regression.csv'

In [3]:
df = pd.read_csv(data_path, header=0)

In [4]:
df.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,3D_available,Time_taken,Twitter_hastags,Genre,Avg_age_actors,Num_multiplex,Collection
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,YES,109.60,223.840,Thriller,23,494,48000
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,NO,146.64,243.456,Drama,42,462,43200
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,NO,147.88,2022.400,Comedy,38,458,69400
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,YES,185.36,225.344,Drama,45,472,66800
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,NO,176.48,225.792,Drama,55,395,72400

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Marketing expense    506 non-null    float64
 1   Production expense   506 non-null    float64
 2   Multiplex coverage   506 non-null    float64
 3   Budget               506 non-null    float64
 4   Movie_length         506 non-null    float64
 5   Lead_ Actor_Rating   506 non-null    float64
 6   Lead_Actress_rating  506 non-null    float64
 7   Director_rating      506 non-null    float64
 8   Producer_rating      506 non-null    float64
 9   Critic_rating        506 non-null    float64
 10  Trailer_views        506 non-null    int64
 11  3D_available         506 non-null    object
 12  Time_taken           494 non-null    float64
 13  Twitter_hastags      506 non-null    float64
 14  Genre                506 non-null    object
 15  Avg_age_actors       506 non-null    int64
 16  Num_multiplex        506 non-null    int64
 17  Collection           506 non-null    int64
dtypes: float64(12), int64(4), object(2)
memory usage: 71.3+ KB

In [6]:
#Missing Value Imputation
df['Time_taken'].mean()

157.3914979757085

In [7]:
df['Time_taken'].fillna(value=df['Time_taken'].mean(), inplace=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Marketing expense    506 non-null    float64
 1   Production expense   506 non-null    float64
 2   Multiplex coverage   506 non-null    float64
 3   Budget               506 non-null    float64
 4   Movie_length         506 non-null    float64
 5   Lead_ Actor_Rating   506 non-null    float64
 6   Lead_Actress_rating  506 non-null    float64
 7   Director_rating      506 non-null    float64
 8   Producer_rating      506 non-null    float64
 9   Critic_rating        506 non-null    float64
 10  Trailer_views        506 non-null    int64
 11  3D_available         506 non-null    object
 12  Time_taken           506 non-null    float64
 13  Twitter_hastags      506 non-null    float64
 14  Genre                506 non-null    object
 15  Avg_age_actors       506 non-null    int64
 16  Num_multiplex        506 non-null    int64
 17  Collection           506 non-null    int64
dtypes: float64(12), int64(4), object(2)
memory usage: 71.3+ KB

Converting Categorical to Numerical

In [9]:
df = pd.get_dummies(df, columns= ["3D_available", "Genre"], drop_first=True)

In [10]:
df.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,Time_taken,Twitter_hastags,Avg_age_actors,Num_multiplex,Collection,3D_available_YES,Genre_Comedy,Genre_Drama,Genre_Thriller
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,109.60,223.840,23,494,48000,1,0,0,1
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,146.64,243.456,42,462,43200,0,0,1,0
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,147.88,2022.400,38,458,69400,0,1,0,0
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,185.36,225.344,45,472,66800,1,0,1,0
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,176.48,225.792,55,395,72400,0,0,1,0

Split the dataset

In [11]:
X = df.loc[:, df.columns != "Collection"]

In [12]:
X.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,Time_taken,Twitter_hastags,Avg_age_actors,Num_multiplex,3D_available_YES,Genre_Comedy,Genre_Drama,Genre_Thriller
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,109.60,223.840,23,494,1,0,0,1
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,146.64,243.456,42,462,0,0,1,0
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,147.88,2022.400,38,458,0,1,0,0
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,185.36,225.344,45,472,1,0,1,0
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,176.48,225.792,55,395,0,0,1,0

In [13]:
X.shape

(506, 19)

In [14]:
# dependent variable
y = df["Collection"]

In [15]:
from sklearn.model_selection import train_test_split

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [18]:
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(339, 19) (167, 19) (339,) (167,)

Standardizing Data : converting mean and variance of each variable to 0

In [19]:
from sklearn.preprocessing import StandardScaler

In [20]:
sc = StandardScaler().fit(X_train)

In [21]:
X_train_std = sc.transform(X_train)

In [22]:
X_test_std = sc.transform(X_test)

In [23]:
X_test_std

array([[-0.42451319, -1.03649306,  0.40420651, ...,  1.51369156,
        -0.49630991, -0.7642723 ],
       [-0.42911576, -0.6973123 ,  0.94033529, ..., -0.66063657,
        -0.49630991,  1.30843418],
       [-0.42269508,  2.36824941, -0.43828157, ...,  1.51369156,
        -0.49630991, -0.7642723 ],
       ...,
       [-0.33727525, -1.04799071, -0.76166084, ...,  1.51369156,
        -0.49630991, -0.7642723 ],
       [-0.30591027, -0.44867555,  0.16592705, ..., -0.66063657,
        -0.49630991,  1.30843418],
       [-0.36872487, -1.04799071, -0.76166084, ..., -0.66063657,
        -0.49630991,  1.30843418]])

Training Regression Tree : using standardized value

In [24]:
from sklearn.svm import SVR
svr = SVR(kernel='linear', C=1000)     #by default kernel is radial

In [25]:
svr.fit(X_train_std, y_train)

SVR(C=1000, kernel='linear')

In [26]:
y_train_pred = svr.predict(X_train_std)
y_test_pred = svr.predict(X_test_std)

In [27]:
y_test_pred

array([50977.09990286, 61931.38194198, 30104.35778359, 47536.46532485,
       38619.32660572, 48021.03763209, 31226.03901479, 32499.32532768,
       38224.00280969, 41227.32642776, 37611.68055274, 31964.46206342,
       -8984.02413903, 46749.16904394, 38651.56582219, 50930.17422436,
       33500.37624543,  6599.37471948, 78890.59878226, 33163.89798501,
       53541.83127717, 58900.64325034, 24251.49768525, 50503.75265415,
       36220.92159511, 28112.31969208, 44833.94360346, 36322.87154307,
       37746.47356099, 37571.94582576, 35074.25456404, 53200.13449461,
       50939.53838366, 26617.64592917, 31317.12402248, 31488.3363117 ,
       64686.95921549, 39359.74363284, 39961.74027629, 54746.02669546,
       27320.42538949, 60353.55130871, 75438.61302439, 37090.89420342,
       57686.02379655, 28793.38387663, 32479.7830025 , 53029.46584885,
       35900.32954266, 56212.60567772, 38704.89761624, 68309.2665374 ,
       32893.76704483, 56719.50937203, 77701.80899454, 44220.79974174,
       34373.08915615, 61571.85113916, 47819.249219  , 28506.87147063,
       48404.99022718, 59901.98676899, 67365.94699497, 35308.82187336,
       43210.89540749, 22768.53330387, 40771.01766575, 51273.95296797,
       62563.50443697, 27199.27882001, 44940.07229417, 50858.5066011 ,
       25772.39900773, 32271.86672381, 46858.52407924,  7383.05114581,
       41767.76209657, 79323.78884827, 33233.18073877, 21662.07289391,
       41722.90328088, 21152.48515339, 36652.29235805, 12323.82791045,
       43351.01577888, 59306.02612999, 42360.26304682, 51175.01267095,
       54332.0254567 , 44961.67374728, 50555.01660614, 11212.81956009,
       38662.28296026, 32533.28068245, 13294.94409436, 39480.42883795,
       43342.03717746,  4171.73153573, 33714.20221788, 37852.29490626,
       42127.01159854, 52334.41542169, 16544.51826702, 39856.94561012,
       49008.4687615 , 36076.16827199, 39162.82549762, 56892.80815971,
       42288.14036793, 51325.95481866, 23080.73423611, 40853.37871225,
       45253.61610596, 48550.66130941, 58663.7529473 , 35105.31151741,
       69855.50644663, 32164.85247122, 43666.67198576, 58506.79882647,
       30122.55345698, 50744.66600167, 11279.36723814, 41103.62397723,
       50974.53707078, 47061.42118941, 49590.34672286, 63786.96992285,
       41612.57353569, 75064.41493863, 25155.25688291, 55738.8752619 ,
       35306.97839441, 40645.69541719, 18419.61201625, 47448.94690611,
       46643.62231836, 57296.63286613, 60030.55549641, 35713.40970026,
       34534.07021735, 54457.55475268, 43533.14627415, 22941.29289481,
       13338.55429825, 46479.06119022, 41621.60366129, 32147.46261278,
       30654.26918562, 79669.92231743, 40138.73626286, 35940.51755953,
       47730.20668626, 47381.51598091, 43144.18768335, 49497.9869391 ,
       28220.54085059, 41506.39932056, 60798.31711905,  4085.57222855,
       47829.65447122, 30847.31951097, 47971.56595504, 52184.66069314,
       44111.55942455, 43351.51096438, 78010.9161166 ])

Regression Model Performance

In [28]:
from sklearn.metrics import mean_squared_error, r2_score

In [29]:
mean_squared_error(y_test, y_test_pred)

105576921.12538326

Problem with MSE is we do not get much information with this score, we can compare the score using different model on the same data

In [30]:
r2_score(y_train, y_train_pred)

0.67379868954203

In [32]:
r2_score(y_test, y_test_pred)

0.652780987541266

We can tweak C parameter values to manage r2_score or mse measures